*{
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    height: auto;
    width: 100%;
    color: #75B79E;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.cartas {
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.umacarta {
    height: 146px;
    min-width: 117px;
    border-radius: 5px;
    background-color: #A7E9AF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px;
    border: 1px solid #99CEA8;
    position: relative;
    transition: all .5s;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    border: 2px solid #99CEA8;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.rotacionar{
    transform: rotateY(180deg);
}
