body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 143px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #75B79E;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;

}
